<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Lista de contactos</h2>
            <a ng-href="#/crear" class="btn btn-default">Crear Contacto</a>
        </div>
        <div class="panel-heading">
            <form class="form-inline">
                <div class="form-group">
                    <label for="buscar">Buscar:
                    </label>
                    <input type="text" class="form-control" id="buscar" name="buscar" placeholder="Buscar" ng-model="buscar">
                </div>
            </form>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped" ng-show="contactos.total">
                    <thead>
                        <tr>
                            <th>Número de contacto</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Alias</th>
                            <th>Número de teléfono</th>
                            <th>Correo Electrónico</th>
                            <th>Dirección</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="contacto in contactos.lista | filter:buscar">
                            <td>{{contacto.id}}</td>
                            <td>{{contacto.nombre}}</td>
                            <td>{{contacto.apellido}}</td>
                            <td>{{contacto.alias}}</td>
                            <td>{{contacto.telefono}}</td>
                            <td>{{contacto.email}}</td>
                            <td>{{contacto.direccion}}</td>
                            <td>
                                <a ng-href="#/modificar/{{contacto.id}}" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                                <button class="btn btn-danger" ng-click="eliminar(contacto.id)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p ng-show="!contactos.total">No hay registros</p>
            </div>
        </div>
        <div class="panel-footer">
            Primer Parcial - Electiva 2
        </div>
    </div>
</div>
<script type="text/ng-template" id="borrar-confirmacion-modal.html">
    <div class="modal-header">
        <h3 class="modal-title">Borrar</h3>
    </div>
    <div class="modal-body">
        <p>¿Desea eliminar el contacto?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Sí</button>
        <button class="btn btn-warning" ng-click="cancelar()">No</button>
    </div>
</script>
